{{# each products}}
  <div class="row">
    {{# each this}}
    <div class="card mx-auto my-4" style="width: 18rem; height: 10rem ;">
      <img src="{{this.imagePath}}" class="card-img-top" alt="{{this.title}}">
      <div class="card-body" style="border:1px solid #80808052;">
        <h5 class="card-title">{{this.title}}</h5>
        <hr>
        <p class="card-text">{{this.description}}</p>
        <hr>
        <div class="clearfix">
          <a href="#" class="btn btn-outline-info float-left"><i class="fas fa-rupee-sign"></i> {{this.price}}</a>
          <a href="#" class="btn btn-outline-success float-right"><i class="fas fa-money-bill-alt"></i> Buy </a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
{{/each}}
